@font-face {
font-family: NumberPlate;
src: url("../fonts/GL-Nummernschild-Eng.otf") format("opentype");
}

body {
	margin:20px 0;
}
#plateOuter {
	padding:0 15px;
	background:url(../img/plate_germany.svg) no-repeat;
	background-origin: content-box;
	backgrpund-size:contain;
}
#plate {
	height:100px;
	padding:0 15px 0 75px;
	background:transparent;
	border:1px solid #EFEFEF;
	border-left:0;
	font-size:100px;
	font-family:NumberPlate;
	line-height:0;
}
input#plate::-webkit-input-placeholder {
	line-height:100px;
}
#map {
	width:100%;
	height:200px;
	margin:15px 0;
	border-radius: 5px;
}
.standardBox {
	margin:25px 0 0 0;
	background:#f8f8f8;
	border:1px solid #e7e7e7;
	border-radius:5px;
}
.authenticated {
	display:none;
}
.notauthenticated {
	display:block;
}
.registerDone {
	display:none;
}
.registerForm {
	display:block;
}
#map {
	display:none;
}
.selectedCommentArea {
	display:none;
}
#commentsData {
	margin:0 0 15px 0;
}
.loginInfo {
	margin:15px 15px 10px 15px;
	padding:10px 20px;
}
.commentName {
	font-weight:bold;
}
.commentText {
	margin:5px 0;
}
.commentOuter {
	margin:0 0 2px 0;
	padding:5px 10px;
}
.commentDate {
	font-size:12px; 
	color:#777;
}
.userImage {
	width:45px;
	height:45px;
	padding:5px;
	margin:10px 10px 0 0;
	background:white;
	border:1px solid #CCC;
}
.left {
	float:left;
}
.right {
	float:left;
}
.clear {
	clear:both;
}
.CommentFullWidth {
	width:80%;
}
#commentArea {
	width:100%;
	min-height:65px;
	padding:5px 10px;
	border:1px solid #CCC;
	border-radius:5px;
}
#editCommentArea {
	width:100%;
	min-height:65px;
	padding:5px 10px;
	border:1px solid #CCC;
	border-radius:5px;
}
.standardBoxInner {
	margin:15px 0 15px 0;
	position:relative;
	width:auto;
}
.commentBoxArea {
	margin:15px 0 10px 10px;
}
.commentRow {
	display:none;
}
.resultRow {
	display:none;
}
.defaultRow {
	font-size:16px;
	padding:15px 10px;
}
.bg-info, .bg-warning {
	border-radius:5px;
}
.county {
	font-weight:bold;
	font-size:30px;
}
.state {
	font-size:24px;
}
.error {
	padding:10px 15px;
}
.formLable {
	margin:15px 0;
	font-weight:bold;
}
.formInput {
	margin:10px 0;
	font-weight:bold;
}
.actionList {
	margin:10px 0 0 0;
}
.likePlace {
	font-size:12px;
	color:#777;
}
#protocolLikes {
	display:none;
}