body {
	margin:20px 0;
}
#plateOuter {
	padding:0 15px;
	background:url(../img/plate_germany.svg) no-repeat;
	background-origin: content-box;
	backgrpund-size:contain;
}
#plate {
	height:100px;
	padding:0 15px 0 75px;
	font-size:50px;
	background:transparent;
	border:1px solid #EFEFEF;
	border-left:0;
}
#result {
	font-size:50px;
}
#map {
	width:100%;
	height:200px;
}
.standardBox {
	margin:25px 0 0 0;
	background:#f8f8f8;
	border:1px solid #e7e7e7;
	border-radius:5px;
}
.loginButton {
	padding:5px 10px;
	background:white;
	border:1px solid #CCC;
	border-radius:3px;
	font-weight:bold;
}
.authenticated {
	display:none;
}
.notauthenticated {
	display:block;
}
.registerDone {
	display:none;
}
.registerForm {
	display:block;
}